{% extends 'base.html' %}

{% block content %}

    <h2>{{book.name}}</h2>
    <p>Author: {{book.author}}</p>
    <p>Genre: {{book.genre}}</p>
    <p>First Published: {{book.published_date.strftime('%d-%m-%Y')}}</p>
    
    {% if book.status == False %}
        <p>Status: Available &#x1f4d5;</p>
        <form action="/change_status/{{book.name}}" method="post">
            <label for="checked out">Check out</label>
            <input type="radio" id="checked out" name="checked out">
            <input type="submit">
        </form>
    {%else%}
        {% if book.reserved == False %}
        <p>Status: Checked out &#128214;</p> 
        <form action="/reserve/{{book.name}}" method="post">
            <input type="submit" value="Reserve">
        </form>
        {% else %}
            <p> Status: Reserved &#8987;</p>  
        {% endif %}

    {% endif %}
     

    <form action="/remove/{{book.name}}" method="post">
        <input type="submit" value = 'Remove book'>
    </form>

    
{% endblock content %}