{% extends 'base.html' %}

{% block content %}
<div class="main_list">

    <h2>Books</h2>
    
    <!-- list of exitsing books, includes remove book option and a button to take to individual book page.-->
    
    <ul>
        {% for book in books %}
        <li>       
            <p class = "title_author">{{book.name}} by {{book.author}}</p>
            <form action="/book/{{loop.index0}}">
                <input type="submit" value="Details">
            </form>
            <form action="/remove/{{loop.index0}}" method="post">
                <input type="submit" value = 'Remove book'>
            </form>
        </li>          
        
        {% endfor %}
        
        <!-- form to add a new book -->
</div>   
<div class="add_book">
    <h2>Add a new Book</h2>

    </ul>    
    
    <form action="/" method="post">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="author">Author: </label>
            <input type="text" name="author" id="author">
        </div>
        <div>
            <label for="genre">Genre: </label>
            <input type="text" name="genre" id="genre">
        </div>
        <div>
            <label for="published_date">Date Published</label>
            <input type="date" name="published_date" id="published_date">
        </div>
        <div>
            <input type="submit" value="Add book">
        </div>    
        
    </form>
    
</div>     

    
    {% endblock %}
    
    